# Entorno virtual de Python
venv/

# Archivos de entorno y configuración sensibles
backend-dashboard/.env.dashboard
backend-dashboard/.env
backend-dashboard/venv/
backend-dashboard/.vscode/
backend-dashboard/hash_script.py
backend-dashboard/static/banners/
backend-api/.env
backend-api/venv/
backend-api/.vscode/
dashboard/.env
dashboard/.env.local
dashboard/.env.production
dashboard/.vscode/
luzapp/.idea/
luzapp/.gradle/
luzapp/build/
luzapp/local.properties

# Archivos de entorno globales
*.env
*.env.*
local.properties

# Entornos virtuales Python
.venv/
venv/

# Archivos de base de datos temporales
*.sqlite3
*.db

# Archivos de llaves y certificados
*.pem
*.key
*.crt

# Archivos de configuración sensibles
backend-api/.env

# Archivos y carpetas generados por Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Build de React
dashboard/build/

# Dependencias de Node.js
dashboard/node_modules/

# Archivos de logs y temporales
*.log
*.tmp

# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos de Docker opcionales
*.pid

# --- Android Studio ---
# Build folders
**/build/
**/out/

# Gradle
.gradle/
**/gradle/
**/gradle-wrapper.jar
gradle-app.setting
gradle.properties
gradlew
gradlew.bat
local.properties

# IDE config
.idea/
*.iml
*.ipr
*.iws

# Log, cache, and temp files
.cxx/
.externalNativeBuild/
.captures/
.cache/
.DS_Store
*.log
*.tmp

# Keystore files (sensitive)
*.jks
*.keystore

# APKs and AABs
*.apk
*.ap_*
*.aab
!luzapp.apk
.version_number

# Misc
captures/
output.json
releases/
*.orig
