
.git
.gitignore
__pycache__/
*/__pycache__/
venv/
*.pyc
*.pyo
*.pyd
*.sqlite
.DS_Store
.env
*.log
**/*.sqlite
.env.*
.pytest_cache/
htmlcov/
.coverage
.vscode/
.idea/
test_model.py
verificar_conexion.py
